<div class="container-fluid" ng-controller="AdminDashboardViewController">

    <div class="row">
        <div class="col-lg-12">
            <div class="dashboard-container" resize ng-style="scrollHeight(size.screenH) ? '' : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight)">
                <div class="sub-header">Sandbox Manager Statistics</div>
                <div class="box">
                    <div class="right-form-group">
                        <label class="right-form-label">Total Sandboxes </label>
                        <label class="right-form-value-label">{{statistics.totalSandboxesCount}}</label>
                    </div>
                    <div class="right-form-group">
                        <label class="right-form-label">FHIR v1.0.2 Sandboxes </label>
                        <label class="right-form-value-label">{{statistics.totalDstu2SandboxesCount}}</label>
                    </div>
                    <div class="right-form-group">
                        <label class="right-form-label">FHIR v3.0.1 Sandboxes </label>
                        <label class="right-form-value-label">{{statistics.totalStu3SandboxesCount}}</label>
                    </div>
                    <div class="right-form-group">
                        <label class="right-form-label">FHIR v3.4.0 Sandboxes </label>
                        <label class="right-form-value-label">{{statistics.totalR4SandboxesCount}}</label>
                    </div>
                    <div class="right-form-group">
                        <label class="right-form-label">New Sandboxes in 30 Days </label>
                        <label class="right-form-value-label">{{statistics.newSandboxesInInterval}}</label>
                    </div>
                    <div class="right-form-group">
                        <label class="right-form-label">Total Users </label>
                        <label class="right-form-value-label">{{statistics.totalUsersCount}}</label>
                    </div>
                    <div class="right-form-group">
                        <label class="right-form-label">New Users in 30 Days </label>
                        <label class="right-form-value-label">{{statistics.newUsersInInterval}}</label>
                    </div>
                    <div class="right-form-group">
                        <label class="right-form-label">Users Active in 30 Days </label>
                        <label class="right-form-value-label">{{statistics.activeUsersInInterval}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div><button ng-click="manageNews()" class="btn btn-basic">Create News Item</button></div>
    </div>
</div>
